/*!
 * タイトル
 */

.title {
  margin: 0;
  padding: 2em;
  color: #fff;
}
.title > i.cd:before {
  font-size: 500%;
  display: block;
}
.title > h1 {
  font-size: 1.5em;
  margin: .5em 0 1em;
}
.title > p {
  padding: 0 1em;
  margin: 0 auto;
  max-width: 680px;
  font-size: 130%;
}

@media only screen and (min-width: 560px) {
  .title > i.cd:before {
    font-size: 800%;
  }
  .title > h1 {
    font-size: 1.7em;
    margin-bottom: .5em;
  }
  .title > p {
    padding: 0 3em;
    font-size: 110%;
  }
}

@media only screen and (min-width: 720px) {
  .title > i.cd:before {
    font-size: 1000%;
  }
  .title > h1 {
    font-size: 2.2em;
    margin-bottom: .2em;
  }
  .title > p {
    padding: 0 5em;
    font-size: 90%;
  }
}
