<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>CoderDojo Tokyo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="CoderDojoは小中学生のためのプログラミング道場">
    <meta property="og:title" content="CoderDojo Tokyo">
    <meta property="og:site_name" content="CoderDojo Tokyo">
    <meta property="og:url" content="http://tokyo.coderdojo.jp/">
    <meta property="og:image" content="http://tokyo.coderdojo.jp/og-image.png">
    <meta property="og:image:type" content="image/png">

    <link href="css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="title">
      <i class="cd cd-logo"></i>
      <h1>CoderDojo Tokyo</h1>
      <p>CoderDojoは小中学生のためのプログラミング道場</p>
    </header>
    <section class="cover">
      <img src="https://graph.facebook.com/411951145522588/picture">
    </section>
    <section>
      <p>CoderDojo Tokyoでは、毎週日曜日、ボランティアによるプログラミング道場を開催しています。</p>
      <ul>
        <li>Scratch (ブロックを組合わせて簡単プログラミング)</li>
        <li>HTML / CSS / JavaScript</li>
        <li>YouTubeなどを活用したWEBサイト作成</li>
        <li>電子工作と組合わせたプログラミング</li>
      </ul>
    </section>
    <section class="meetup" ng-controller="MeetupController as meetup">
      <h2>近日の道場</h2>
      <ul ng-if="loaded">
        <li class="meetup-item" ng-repeat="event in upcomings">
          <header>
            <a ng-href="http://www.facebook.com/events/{{ event.source }}/">
              <img ng-src="{{ event.cover_source }}">
              <time>{{ event.start_time | date : 'M/d' }}</time>
            </a>
            <ul class="meetup-item-mentors">
              <li ng-repeat="mentor_id in event.mentors"><img ng-src="http://graph.facebook.com/{{ mentor_id }}/picture?type=square"></li>
            </ul>
          </header>
          <h3><a ng-href="http://www.facebook.com/events/{{ event.source }}/">{{ event.name }}</a></h3>
          <ul class="meetup-item-props">
            <li><i class="cd cd-clock"></i>{{ event.start_time | date : 'H:mm' }} - {{ event.end_time | date : 'H:mm' }}</li>
            <li><a ng-href="http://www.facebook.com/{{ event.venue_id }}"><i class="cd cd-pin"></i>{{ event.location }}</a></li>
          </ul>
          <ul class="tags">
            <li ng-repeat="tag in event.tags">{{ tag }}</li>
          </ul>
        </li>
      </ul>
      <div class="spinner" ng-if="!loaded">イベント情報を読み込み中...</div>
    </section>
    <section>
      <h2>参加方法</h2>
      <p><a href="http://coderdojo-tokyo.connpass.com/">connpassのイベントページ</a>から参加申し込みします。受入人数は最大6人程度です。イベントページに詳細および注意事項が掲載してあります。参加前に確認してください。</p>
    </section>
    <section class="mentor" ng-controller="MentorController as mctrl">
      <h2>こんなひとたちがやってます</h2>
      <p>プログラマやデザイナ、エンジニアなど、ソフトやハードを作ることを専門にしている人たちです。こどものコンピュータ教育に携わる方、会場のOSSCafeの常連ボランティアさん他。</p>
      <ul ng-if="loaded">
        <li class="mentor-person" ng-repeat="mentor in mentors">
          <header>
            <a ng-href="{{ mentor.url }}"> 
              <span class="mentor-person-picture" ng-style="{'background-image':'url(http://graph.facebook.com/{{ mentor.source }}/picture?type=large)'}"></span>
              <span class="mentor-person-name">{{ mentor.last_name }}さん</span>
            </a>
          </header>
          <ul class="tags">
            <li ng-repeat="tag in mentor.tags">{{ tag }}</li>
          </ul>
          <p>{{ mentor.description }}</p>
        </li>
      </ul>
      <div class="spinner" ng-if="!loaded">メンター情報を読み込み中...</div>
    </section>
    <section>
      <p>現在、WEBサイト制作中です。制作にご協力いただける方は、<a href="https://github.com/coderdojo-tokyo">こちら</a>までプルリクエスト下さい!</p>
      <ul>
        <li><a href="https://www.facebook.com/coderdojo.tokyo">Facebook Page</a></li>
        <li><a href="https://github.com/coderdojo-tokyo">GitHub Organization</a></li>
        <li><a href="http://zen.coderdojo.com/dojo/57">CoderDojo.com</a></li>
        <li><a href="https://groups.google.com/forum/?fromgroups#!forum/coderdojo-tokyo">Google Groups</a></li>
      </ul>
    </section>
    <footer>
      <h2>CoderDojo Tokyo 運営グループ</h2>
    </footer>
    <script src="../public/js/angular.min.js"></script>
    <script src="../public/js/parse.js"></script>
    <script src="../public/js/index.js"></script>
  </body>
</html>
